{% extends "proj/base.html.twig" %}

{% block title %}Project{% endblock %}

{% block body %}
    <div class="main-content-grid">
        <div class="content-column">
            {{ content|raw }}
        </div>
        <div class="image-column">
            <img src="{{ asset('img/hav3.JPG') }}" alt="Bild 3">
        </div>
    </div>
{% endblock %}