/* proj.scss */

/* ALLMÄNT */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "New Amsterdam", sans-serif;
    font-style: normal;
}

/* Footer */

.site-footer {
    padding: 20px 60px;
}

/* Header */

.proj-header {
    background-color: #133E5C;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 2em;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;  
}

.proj-header .header-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 60px;
    max-width: 500px;
}

.proj-header .header-content .box {
    display: flex;
    flex-direction: column;
    color: #fff;
    flex: 1;
    margin: 0;
}

.proj-header .header-content .box img {
    max-width: 100px;
    margin-bottom: 10px;
}

/* Navbar */

.proj-navbar {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    font-size: 1.4em;
    padding: 20px 60px;
    margin: 0;
    align-items: flex-end;
}

.proj-navbar ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.proj-navbar li {
    padding: 10px;
}


.proj-navbar li:not(:last-child)::after {
    content: "|";
    padding-left: 20px;
}

.proj-navbar a {
    color: #FFFFFF;
    text-decoration: none;
}

.proj-navbar a:hover {
    text-decoration: underline;
}

/* Grid layout */

.main-content-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
}

.content-column {
    padding: 40px;
    background-color: #fff;
    color: #333;
    border-radius: 8px;
}

.image-column {
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    position: relative;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
}

.image-column img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

/* Indicators grid */

.goals-page {
    padding: 60px;
}

.goals-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.goal-box {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    gap: 20px;
}

.goal-box .goal-image img {
    filter: grayscale(100%);
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.goal-box .goal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
}

.goal-box .number {
    font-size: 2em;
    color: #5B879F;
    font-weight: bold;
}

.goal-box .name {
    font-size: 1.4em;
    font-weight: bold;
}

.goal-box .description {
    font-size: 0.9em;
    color: #333;
}

@media (max-width: 768px) {
    .goal-container {
        grid-template-columns: 1fr;
    }
}