{% extends "base.html.twig" %}

{% block title %}Lucky{% endblock %}

{% block body %}
    <div class="inner-container lucky-container">
        <h1>Happy Go Lucky</h1>
        <p>Here is your lucky number: {{ number }}</p>
        <a href="{{ asset('img/lucky1.jpg') }}">
            <img src="{{ asset('img/lucky1.jpg') }}" alt="" class="image">
        </a>
    </div>
{% endblock %}