{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <div class="inner-container grid-container">
        <div class="sidebar">
            <ul>
                <li><a href="#kmom01">Kmom01</a></li>
                <li><a href="#kmom02">Kmom02</a></li>
                {# <li><a href="#kmom03">Kmom03</a></li> #}
                {# <li><a href="#kmom04">Kmom04</a></li> #}
                {# <li><a href="#kmom05">Kmom05</a></li> #}
                {# <li><a href="#kmom06">Kmom06</a></li> #}
                {# <li><a href="#kmom07/10">Kmom07/10</a></li> #}
            </ul>
        </div>
        <div class="content">
            <section id="kmom01"><h2>Kmom01</h2>
                <p>Jag har tidigare erfarenhet av objektorienterad programmering i Java, JavaScript och Python men inte i PHP så det blir nytt med den här kursen. Jag brukar tycka objektorienterat är kul eftersom det blir lite mer avancerat, organiserat och systematiskt.</p>
                <p>PHP:s objektorienterade programmering låter dig definiera klasser som mallar för att skapa objekt. En klass kan innehålla egenskaper (variabler) och metoder (funktioner) som definierar objektets tillstånd och beteende. Konstruktorer, specialmetoder som heter __construct, används för att initialisera nya objekt. PHP stöder enkel arv, vilket möjliggör att en klass kan ärva funktionalitet från en annan klass med nyckelordet extends. Synlighetsmodifikatorer som public, protected, och private styr åtkomsten till klassens medlemmar. För att komma igång, definiera en klass med dess egenskaper och metoder, instansiera klassen med new-nyckelordet, och interagera sedan med objektets egenskaper och metoder.</p>
                <p>Jag känner mig bekväm med html, twig, scss och känner på det stora hela att jag har fått till en bra kodbas. Men när det gäller php-delen känns det inte riktigt som att jag förstår vad det är jag gör. Jag utgick blankt från exemplet men förstår inte riktigt Controller-delen. Eller snarare, jag förstår koden men det känns främmande och jag förstår inte varför man gör som man gör och hade inte kunnat återskapa den själv.</p>
                <p>Jag har inte djupdykt i dokumentet utan tittade överskådligt. Jag bläddrade i getting started, code stylefuide och i Coding pratiges. Jag tror att det är en bra resurs att ha som uppslagsverk snarare än att läsa pärm till pärm. Jag kan tänka mig att man vill återkomma till dokumentet när teman som databaser, testing, caching och security blir relevanta.</p>
                <p><span style="font-weight: bold">TIL:</span> Symphony och PHP-controllern.</p>

            </section>
            <section id="kmom02"><h2>Kmom02</h2><p>Redovisningstext för kmom02</p></section>
            {# <section id="kmom03"><h2>Kmom03</h2><p>Redovisningstext för kmom03</p></section> #}
            {# <section id="kmom04"><h2>Kmom04</h2><p>Redovisningstext för kmom04</p></section> #}
            {# <section id="kmom05"><h2>Kmom05</h2><p>Redovisningstext för kmom05</p></section> #}
            {# <section id="kmom06"><h2>Kmom06</h2><p>Redovisningstext för kmom06</p></section> #}
            {# <section id="kmom07/10"><h2>Kmom07/10</h2><p>Redovisningstext för kmom07</p></section> #}
        </div>
    </div>
{% endblock %}

